apiVersion: v1
kind: Service
metadata:
  name: flask-service
spec:
  selector:
    app: flask-app
  ports:
    - protocol: TCP
      port: 80 #porta externa (navegador)
      targetPort: 5000 #porta interna
  type: LoadBalancer
